body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-height: 80%;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    width: 400px;
    height: 400px;
    margin: 70px;
    padding: 100px;
    border-radius: 30px;
    text-align: center;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    -webkit-user-select: none;
    cursor: pointer;
    align-items: center;
    background-color: #1a1a1a;
}

.square:hover {
    transform: scale(1.1);
}

.square p {
    font-size: 100px;
    color: white;
}
