body {
    font-family: Arial, sans-serif;
    color: #eee;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.category {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-title {
    margin: 10px 0 10px 0;
    font-size: 24px;
    font-weight: bold;
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    user-select: none;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 275px;
    padding: 10px;
    background-color: #1a1a1a;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.item-icon {
    width: 150px;
    height: 150px;
    background-color: lightgray;
    margin-bottom: 10px;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
}

.item-name {
    font-weight: bold;
    text-align: center;
}

.item-price {
    margin: 6px;
}

.buy-button,
.select-button{
    padding: 5px 10px;
    background-color: #2ecc71;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    user-select: none;
    border: #fff 1px solid;
}

.selected-text {
    margin: 4px;
}

.buy-button:hover {
    background-color: #2980b9;
}